@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* ADD THESE 2 LINES */
  --primary-gradient-from: #7f00ff;
  --primary-gradient-to: #e100ff;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  /* You can even change gradients slightly if you want */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-gradient-from: var(--primary-gradient-from);
  --color-primary-gradient-to: var(--primary-gradient-to);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
